

  <!-- <h1>Input some text here</h1> -->

  <!-- <form method="POST" id="inputForm"> -->

    <h1>Hello World</h1>

    <a href="/">Link to the previous page</a>

    <!-- <label for="message">Message</label> -->
    <!-- <input id="message" name="message" placeholder="Ex. Hello World" type="text"></br></br>
    <button type="submit" style="width:100px;">Submit</button></br></br>
    <a href="next.html">Link to the next page</a>
  </form> -->

<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}

<!-- {{ define "shopping_list/show.tmpl" }} -->
<!-- <p>Name: {{ .Name }}</p>
<p>Quantity: {{ .Qty }} {{ .Unit }}</p> -->
<!-- <h1>Hello World</h1>

<a href="/index.html">Link to the previous page</a> -->
<!-- <a href="/shopping-list/delete/{{ .Id }}">Delete</a> -->
<!-- {{ end }} -->